tqdm
more_itertools
tldextract
wordfreq
selenium
axe_selenium_python
numpy
requests
beautifulsoup4
scikit-learn
pandas
scipy
seaborn
matplotlib
more_itertools
selenium
axe_selenium_python
tldextract
pytesseract
PyMuPDF
tabula-py